{% extends 'base.html.twig' %}

{% block description %}
Homepage of Wornak
{% endblock %}

{% block title %}
Wornak
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}


{% block body %}
<body>
<!-- about -->
<div class="about">
    <a class="bg_links social portfolio" href="#" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="#" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="#" target="_blank">
        <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
</div>
<!-- end about -->


<nav>
    <div class="menubar">
        <a href="#" class="home"><img src="{{ asset('images/Wornak.png') }}" height="80" width="80" alt="Wornak">Wornak</a>
        <div class="icons">
            <div class="secondary-icons">
                <div class="icon-second">
                    <a href="{{ path('app_login') }}" title="sign-in"><i class="fas fa-sign-in-alt" id="icon1"></i></a>
                </div>
                <div class="icon-second">
                    <a href="{{ path('app_registration_job-seeker') }}" title="Registration for job seeker" ><i class="fas fa-address-card" id="icon2"></i></a>
                </div>
                <div class="icon-second">
                    <a href="{{ path('app_registration_employer') }}" title="Business" ><i class="fas fa-briefcase" id="icon3"></i></a>
                </div>
            </div>

            <i class="icon-menu"><span></span></i>
        </div>
    </div>
    <ul class="menu">

        <li class="menu-link"><a href="#" class="text-item">About</a></li>
        <li class="menu-link sub">
            <a href="#" class="text-item">Clients<span class="icon"></span></a>
            <ul class="submenu">
                <li class="sub-item"><a href="#">Burger King</a></li>
                <li class="sub-item"><a href="#">Southwest Airlines</a></li>
                <li class="sub-item"><a href="#">Levi Strauss</a></li>
            </ul>
        </li>
        <li class="menu-link sub">
            <a href="#" class="text-item">Services<span class="icon"></span></a>
            <ul class="submenu">
                <li class="sub-item"><a href="#">Print Design</a></li>
                <li class="sub-item"><a href="#">Web Design</a></li>
                <li class="sub-item"><a href="#">Mobile App Development</a></li>
            </ul>
        </li>
        <li class="menu-link"><a href="#" class="text-item">Contact</a></li>
    </ul>
</nav>

<article>
    <h1>test test test test test test test</h1>
    <p>test test test test test test test test</p>
</article>

</body>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
