{% extends 'base.html.twig' %}

{% block description %}
    Registration page of Wornak
{% endblock %}

{% block title %}
    Registration-Wornak
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <style>
        body {
            background-image: url("{{ asset('/images/810.jpg') }}");
        }

    </style>
    <body>
    <main role="main" class="container">
        {{ form_start(UserForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(UserForm.email) }} <br>
        {{ form_row(UserForm.tel) }} <br>
        {{ form_row(UserForm.password) }} <br>

        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(UserForm) }}

    </main><!-- /.container -->
    </body>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
