{% extends 'base.html.twig' %}

{% block description %}
    Registration page of Wornak
{% endblock %}

{% block title %}
    Registration-Wornak
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
    <main role="main" class="container" >
        {{ form_start(UserForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(UserForm.login) }} <br>
        {{ form_row(UserForm.email) }} <br>
        {{ form_row(UserForm.tel) }} <br>
        {{ form_row(UserForm.password) }} <br>

        <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(UserForm) }}

    </main><!-- /.container -->
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
