{% extends 'job-seeker-zone/base.html.twig' %}

{% block description %}
    Dashboard
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    Job
{% endblock %}

{% block body %}
    {% if alertArr %}
        {% for alert in alertArr %}
            <div class="wornak-search-result--core">
                <a class="wornak-search-results--core_title" href="{{ path('app_alert_index', {slug: alert.uid}) }}">
                    {{ alert.title }}
                </a>
                <div class="wornak-search-result--core__body">
                    <div class="wornak-search-result--core__summary">
                        <h4 class="wornak-search-result--core__company">
                            {{ alert.type }}
                        </h4>
                        <h4 class="wornak-search-result--core__location">
                        <span class="wornak-search-result--co0re__location-link">
                        {{ alert.uid }}
                        </span>
                        </h4>
                    </div>
                    <div class="wornak-search-result--core__details">
                        <ul class="wornak-search-result--core__details-list">
                            <li class="wornak-search-result--core__item">At:
                                &nbsp {{ alert.publishedAt|date("d/m/Y") }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            No Alert found
        {% endfor %}
    {% endif %}
    {% if alert %}
        <h1 class="mt-4">{{ alert.uid }}</h1>


        <!-- Date/Time -->
        <p>At {{ alert.publishedAt|date("d/m/Y") }}</p>



        <!-- Post Content -->
        <p class="lead">{{ alert.content }}</p>

    {% endif %}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}