{% extends 'job-seeker-zone/base.html.twig' %}

{% block description %}
    Dashboard
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    Job
{% endblock %}

{% block body %}
    {% for jobpost in jobposts %}
        <div class="wornak-search-result--core">
            <a class="wornak-search-results--core_title"
               href="{{ path('app_joszone_job', {token: jobpost.uid}) }}">
                {{ jobpost.jobTitle }}
            </a>
            <div class="wornak-search-result--core__body">
                <div class="wornak-search-result--core__summary">
                    <h4 class="wornak-search-result--core__company">
                        {{ jobpost.employerName }}
                    </h4>
                    <h4 class="wornak-search-result--core__location">
                        <span class="wornak-search-result--core__location-link">
                        {{ jobpost.jobZone }}
                        </span>
                    </h4>
                </div>
                <div class="wornak-search-result--core__details">
                    <ul class="wornak-search-result--core__details-list">
                        <li class="wornak-search-result--core__item">Contract
                            Type: {{ jobpost.contractType }}</li>
                        <li class="wornak-search-result--core__item wornak-search-result--core__appt-type">{{ jobpost.description|slice(0, 40) }}{% if jobpost.description|length > 40 %}...{% endif %}</li>
                    </ul>
                </div>
            </div>
            <div class="wornak-search-result--core__footer">
                <p class="wornak-search-result--core__footer-item wornak-search-result--core__closing-date">
                    <i
                            class="fas fa-clock"></i>&nbsp;Open {{ jobpost.publishedAt|date("d/m/Y") }}
                    to {{ jobpost.expDate|date("d/m/Y") }}</p>
            </div>
        </div>
    {% else %}
        No Job Post found
    {% endfor %}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}