{% extends 'job-seeker-zone/base.html.twig' %}

{% block description %}
    Dashboard
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    Dashboard
{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.searchContent) }}
    {{ form_row(form.location) }}

    <button type="submit" class="btn btn-primary">Search</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}

