{% extends 'employer-zone/base.html.twig' %}

{% block description %}
    Dashboard
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    Post a job
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.jobTitle) }}
    {{ form_row(form.description) }}
    {{ form_row(form.jobZone) }}
    {{ form_row(form.training) }}
    {{ form_row(form.contractType) }}
    {{ form_row(form.expDate) }}
    {{ form_row(form.salary) }}
    {{ form_row(form.sector) }}
    {{ form_row(form.studyLevelRequired) }}

    <button class="btn btn-primary" type="submit">Post</button>

    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}