{% extends 'employer-zone/base.html.twig' %}

{% block description %}
    Dashboard
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    Alert{% if alertArr %}s{% endif %}
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.location) }}
    {{ form_row(form.studyLevel) }}
    {{ form_row(form.training) }}

    <button class=" btn btn-primary" type="submit">Post</button>

    {{ form_end(form) }}
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}