{% extends 'job-seeker-zone/base.html.twig' %}

{% block description %}
    Dashboard
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block subtitle %}
    Job
{% endblock %}

{% block body %}

    <style>
        .align-right {
            position: absolute;
            right: 1%;
        }
    </style>

    <h1 class="mt-4">{{ jobseeker.firstName }} {{ jobseeker.lastName }}</h1>


    <!-- Date/Time -->
    <p>{{ jobseeker.birthdayDate|date }}</p>


    <!-- Post Content -->
    <p class="lead">{{ jobseeker.presentation }}</p>

    <a
            data-toggle="modal"
            data-target="#applyModal"
            class=" d-sm-inline-block btn  btn-primary shadow-sm align-right"> Enroll him
    </a>

    <!-- Apply modal -->
    <div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Recruit?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Recruit" below if you are ready to end his current unemployment.</div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ path('app_emzone_enroll', {token: jobseeker.id}) }}">Recruit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}

