{% extends 'base.html.twig' %}

{% block description %}
Registration page of Wornak
{% endblock %}

{% block title %}
Registration-Wornak
{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}
<main role="main" class="container">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.CIN) }} <br>
            {{ form_row(form.password) }} <br>
            {{ form_row(form.fName) }} <br>
            {{ form_row(form.lName) }} <br>
            {{ form_row(form.gender) }} <br>
            {{ form_row(form.fSituation) }} <br>
            {{ form_row(form.bDate) }} <br>
            {{ form_row(form.adress) }} <br>
            {{ form_row(form.province) }} <br>
            {{ form_row(form.commune) }} <br>
            {{ form_row(form.email) }} <br>
            {{ form_row(form.tel) }} <br>
            {{ form_row(form.aSituation) }} <br>
            {{ form_row(form.joblessness) }} <br>
            {{ form_row(form.mobility) }} <br>
            {{ form_row(form.handicap) }} <br>
            {{ form_row(form.handicapNature) }} <br>
            {{ form_row(form.diplomaType) }} <br>
            {{ form_row(form.speciality) }} <br>
            {{ form_row(form.options) }} <br>
            {{ form_row(form.estabGroup) }} <br>
            {{ form_row(form.establissement) }} <br>
            {{ form_row(form.obtentionYear) }} <br>
            {{ form_row(form.commentary) }} <br>
            {{ form_row(form.dateDebut) }} <br>
            {{ form_row(form.dateEnd) }} <br>
            {{ form_row(form.enterprise) }} <br>
            {{ form_row(form.jobTitle) }} <br>
            {{ form_row(form.description) }} <br>
            {{ form_row(form.language) }} <br>
            {{ form_row(form.skills) }} <br>
            {{ form_row(form.liscence) }} <br>
            {{ form_row(form.activity) }} <br>

            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}

 </main><!-- /.container -->
{% endblock %}

{% block javascript %}
{{ parent() }}
{% endblock %}
